<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{users.title}"></h2>
		<p th:text=#{users.subtitle}></p>
		<form class="navbar-form" action="/users/list">
			<div class="form-group">
				<input name="searchText" id="search" type="text"
					class="form-control" size="50"
					th:placeholder="#{search.placeholder}" />
			</div>
			<button type="submit" id="searchSubmit" class="btn btn-default"
				th:text="#{search.search}">Buscar</button>
		</form>
		<div class="table-responsive">
			<table class="table table-hover"
				th:if="${not #lists.isEmpty(usersList)}" th:fragment="tableUsers">
				<thead>
					<tr>
						<th th:text="#{users.list.name}">Nombre</th>
						<th th:text="#{users.list.email}">Email</th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
						<td th:switch="${user.status}">
							<button th:case="'REQUEST'" id="btnRequest" class="btn btn-info"
								disabled="disabled" th:text="#{user.send}"></button>
							<button th:case="'FRIEND'" class="btn btn-success"
								disabled="disabled" th:text="#{user.friend}"></button> <a
							th:case="*" id="btnAddFriend"
							th:href="${'/addFriend/' + user.id}" th:text="#{users.addFriend}"
							class="btn btn-primary" style=""></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:if="${not #lists.isEmpty(usersList)}"
			th:replace="fragments/pagination"></footer>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>