<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body style="height: 85%">
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{friendPublications.title} + ${name}"></h2>
		<div class="panel-group"
			th:if="${not #lists.isEmpty(publicationsList)}">
			<div class="panel panel-primary" th:each="p : ${publicationsList}">
				<div class="panel-heading" th:text="${p.title}"></div>
				<div class="panel-body">
					<p th:text="${p.text}"></p>
					<div>
						<img th:if="${p.image != null}"
							th:src="${'/fotossubidas/' + p.image}" width="20%" height="20%" />
					</div>
				</div>
				<div class="panel-footer" th:text="${p.creationDate}"></div>
			</div>
		</div>
	</div>

	<div th:if="${#lists.isEmpty(publicationsList)}" class="
			container"
		style="text-align: center">
		<h3 th:text="${name} + ' ' + #{friendPublications.emptyTitle}"></h3>
	</div>

	<div>
		<footer th:replace="fragments/footer"></footer>
	</div>
</body>
</head>
</html>