<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{friendRequest.title}"></h2>
		<p th:text=#{friendRequest.subtitle}></p>
		<div class="table-responsive">
			<table class="table table-hover"
				th:if="${not #lists.isEmpty(requestList)}">
				<thead>
					<tr>
						<th th:text="#{friendRequest.list.name}">Nombre</th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${requestList}">
						<td th:text="${r.sender.name}"></td>
						<td><a id="btnAccept"
							th:href="${'/friendRequests/accept/' + r.sender.id}"
							th:text="#{friendRequest.acceptFriend}" class="btn btn-primary"
							style=""></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container" style="text-align: center">
			<h3 th:text="#{friendRequest.emptyTitle}"></h3>
		</div>

		<footer th:if="${not #lists.isEmpty(requestList)}"
			th:replace="fragments/pagination"></footer>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>